[push]
	default = simple
[user]
	name = Steven
	email = jaffes@sas.upenn.edu
[core]
	editor = vim
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ci = commit
